{%- if article.lang %}{% set DEFAULT_LANG = article.lang %}{% endif -%}
{% extends "base.html" %}
{% block title %}{{ article.title }} | {{ super() }}{% endblock %}
{% block content %}        
<header>
<h1>
    <a href="/{{ article.url }}" id="page-title">{{ article.title }}</a>
    {%- if not HIDE_DATE -%}
    <br>
    <small><time datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
    </time></small>
</h1>
{% if article.tags|length > 0 %}
{% for tag in article.tags %}
<small><a href="/{{ tag.url }}" class="link-box">{{ tag }}</a></small>
{% endfor %}
{% endif %}
    {%- endif -%}
</header>
<article id="article-main">
{{ article.content }}
</article>
<hr>
{% include '_includes/disqus.html' %}
{% endblock %}
