{% extends "base.html" %}
{% block content %}
{% block content_title %}
<header class="title">
    <h1>
        {{ SITENAME }}
    </h1>
    {% for nm, url in LINKS %}
    <a class="link-no-box" href="{{ url }}"
    {% if loop.first %}style="margin-left:-0.5em;"{% endif %}>{{ nm }}</a>
    {% endfor %}
</header>
{% endblock %}

{% if articles %}
{% for article in articles_page.object_list %}
<section class="article-list">
    <article>
        <header>
            <h2>
            <a href="/{{ article.url }}" id="page-title">{{ article.title }}</a>
            {%- if not HIDE_DATE -%}
            <br>
            <small><time datetime="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
            </time></small>
            {%- endif -%}
            </h2>
        </header>
        <main>
            {{ article.summary }}
        </main>
        <a href="/{{ article.url }}" id="page-title"><i>Read more &#8594;</i></a>
        {% if article.tags|length > 0 %}
            <br>
            {% for tag in article.tags %}
            <a class="link-box" href="/{{ tag.url }}">{{ tag }}</a>&nbsp;&nbsp;
            {% endfor %}
        {% endif %}
    </article>
</section>
{% endfor %}
{% else %}
<section><h3>No posts found.</h3></section>
{% endif %}

{% include "pagination.html" %}

<!-- {% if articles_page.has_other_pages() %} -->
<!-- <br><a href="/{{ ARCHIVES_URL }}" class="link-box"> Older Posts </a> -->
<!-- {% endif %} -->
{% endblock content %}
