{%- if DEFAULT_PAGINATION -%}
<div class="paginator">
{%- if articles_page.has_previous() -%}
    <a class="link-no-box" href="{{ SITEURL }}/{{ page_name }}{%- if articles_page.previous_page_number() != 1-%}{{ articles_page.previous_page_number() }}{%- endif -%}.html
">
{%- else -%}
    <span class="link-no-box-disabled">
{%- endif -%}
« Previous page
{%- if articles_page.has_previous() -%}</a>{%- else -%}</span>{%- endif -%}

<span class="link-no-box-disabled">/</span>

{%- if articles_page.has_next() -%}
<a class="link-no-box" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">
{%- else -%}
<span class="link-no-box-disabled">
{%- endif -%}
Next page »
{%- if articles_page.has_next() -%}</a>{%- else -%}</span>{%- endif -%}
</div>
{%- endif -%}
